<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mission to Mars</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="text-black" style="background-color:white;">
    <div class="container">

<!-- Jumbotron -->
        <div class="jumbotron text-center"
            style="background-image: url(http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg); background-size: 100%; height: 100%;">
            <h1 class="display-4">Mission to Mars</h1>
            <a class="btn btn-lg text-white" style="background-color:red;" href="/scrape" role="button">Scrape New
                Data</a>
        </div>

<!-- News Section -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Latest Mars News</h3>
                        <hr>
                        <h5>{{mars.news_title}}</h5>
                        <p>{{mars.paragraph}}</p>
                    </div>
                </div>
            </div>
        </div>
<!-- featured image -->
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Featured Mars Image</h3>
                        <hr>
                        <img src="{{mars.featured_image_url}}" alt="Mars Featured Image" style="width: 100%">
                    </div>
                </div>
            </div>
<!-- Mars weather -->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Current Weather on Mars</h4>
                                <hr>
                                <p>{{mars.mars_weather}}</p>
                            </div>
                        </div>
                    </div>
                </div>
<!-- mars fact table -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Mars Facts</h4>
                                <hr>
                                {{mars.mars_html | safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Hemispheres. -->
        <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row">
                    {% for item in mars.hemisphere_images %}
                    <div class="col-md-6">
                        <div class="card text-white bg-dark" style="margin: 30px;">
                            <img class="card-img-top" src="{{ item.img_url }}" />
                            <div class="card-body">
                                <p class="card-text">{{ item.title }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>